.masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.masonry-grid-column {
  padding-left: 30px;
  background-clip: padding-box;
}

.masonry-grid-column > .image-card {
  background: grey;
  margin-bottom: 30px;
}
